-------------------------------------------------------------
Libs e Preparação do ambiente Spark
-------------------------------------------------------------

In [33]:
# Java jdk utilitários 
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [34]:
#Download do Spark
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

# Descompactando os arquivos
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

In [35]:
# Importando a biblioteca os
import os

# Definindo a variável de ambiente do Java
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

# Definindo a variável de ambiente do Spark
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [36]:
# Findspark
!pip install -q findspark

In [37]:
import findspark

# Iniciando o findspark
findspark.init()

In [38]:
# iniciar uma seção Spark
from pyspark.sql import SparkSession

# iniciando o spark context
spark = SparkSession.builder.master('local[*]').getOrCreate()
spark

# Usando DataFrame (DF)

In [39]:
from pyspark.sql import SparkSession
from pyspark.sql.types import ArrayType, StructField, StructType, StringType, IntegerType
from datetime import date,datetime
from pyspark.sql import Row

In [40]:
#-----------------
#Abrindo um CSV
#pyspark.rdd.RDD
#-----------------

#file= spark.sparkContext.textFile('/content/food_coded.csv')

#type(file) #pyspark.rdd.RDD

In [41]:
#-----------------
#Abrindo um CSV
#pyspark.sql.dataframe.DataFrame
#-----------------

#file=sc.read.csv('/content/food_coded.csv',header=True,sep=',',nanValue=None)


#type(file) #pyspark.sql.dataframe.DataFrame
#file.show()
#Classes de file

#file.printSchema()

In [42]:
#-----------------
#Criando um CSV do zero (em diferentes nós)
#pyspark.sql.dataframe.DataFrame
#-----------------

datf=spark.createDataFrame([
    Row(Cidade='Salvador', Populacao=6., Time='Bahia', Dat_cadastro=date(2021, 10, 10)),
    Row(Cidade='Sao Paulo',Populacao=45., Time='Sao Paulo', Dat_cadastro=date(2021, 5, 5)),
    Row(Cidade='Recife', Populacao=3., Time='Sport',Dat_cadastro=date(2021, 7, 2)),
    Row(Cidade='Maceio', Populacao=2., Time='CSA', Dat_cadastro=date(2021, 8, 1)),
])
#datf


datf.show()

+---------+---------+---------+------------+
|   Cidade|Populacao|     Time|Dat_cadastro|
+---------+---------+---------+------------+
| Salvador|      6.0|    Bahia|  2021-10-10|
|Sao Paulo|     45.0|Sao Paulo|  2021-05-05|
|   Recife|      3.0|    Sport|  2021-07-02|
|   Maceio|      2.0|      CSA|  2021-08-01|
+---------+---------+---------+------------+

In [43]:
# Exibindo tres registros DF na vertical
datf.show(3, vertical=True)
#ou 
#datf.collect()

-RECORD 0------------------
 Cidade       | Salvador
 Populacao    | 6.0
 Time         | Bahia
 Dat_cadastro | 2021-10-10
-RECORD 1------------------
 Cidade       | Sao Paulo
 Populacao    | 45.0
 Time         | Sao Paulo
 Dat_cadastro | 2021-05-05
-RECORD 2------------------
 Cidade       | Recife
 Populacao    | 3.0
 Time         | Sport
 Dat_cadastro | 2021-07-02
only showing top 3 rows

In [44]:
# Analise rápida  dos dados
datf.select("Cidade", "Populacao").describe().show()

+-------+---------+-----------------+
|summary|   Cidade|        Populacao|
+-------+---------+-----------------+
|  count|        4|                4|
|   mean|     null|             14.0|
| stddev|     null|20.73644135332772|
|    min|   Maceio|              2.0|
|    max|Sao Paulo|             45.0|
+-------+---------+-----------------+

In [45]:
# Exibindo o Schema do Dataframe
datf.printSchema()

root
 |-- Cidade: string (nullable = true)
 |-- Populacao: double (nullable = true)
 |-- Time: string (nullable = true)
 |-- Dat_cadastro: date (nullable = true)

In [46]:
# Carregando o modulo de funções, expecificamente a função Upper
from pyspark.sql.functions import upper 


datf.withColumn('Cidade_U', upper(datf.Cidade)).show() # cidades ficam em caixa alta em  Cidade_U

+---------+---------+---------+------------+---------+
|   Cidade|Populacao|     Time|Dat_cadastro| Cidade_U|
+---------+---------+---------+------------+---------+
| Salvador|      6.0|    Bahia|  2021-10-10| SALVADOR|
|Sao Paulo|     45.0|Sao Paulo|  2021-05-05|SAO PAULO|
|   Recife|      3.0|    Sport|  2021-07-02|   RECIFE|
|   Maceio|      2.0|      CSA|  2021-08-01|   MACEIO|
+---------+---------+---------+------------+---------+

In [47]:
#Select data

datf.filter(datf.Cidade == "Salvador").show()

+--------+---------+-----+------------+
|  Cidade|Populacao| Time|Dat_cadastro|
+--------+---------+-----+------------+
|Salvador|      6.0|Bahia|  2021-10-10|
+--------+---------+-----+------------+

In [48]:
# Criando uma tabela temporária em memória com os dados e utilizando consulta SQL


datf.createOrReplaceTempView("Dados")
spark.sql("select count(*) from Dados").show()

+--------+
|count(1)|
+--------+
|       4|
+--------+

## Converter RDD --> DF

In [49]:
# carregando os dados sobre Capital de paises
pais = [("Brasil",10000),("Argentina",20000),("Australia",35000),("Italia",40000),("Egito",65000),("Mexico",80000)]
rddpais= spark.sparkContext.parallelize(pais)


# convertendo em DF
dataframerdd= rddpais.toDF()
#type(dataframerdd) #pyspark.sql.dataframe.DataFrame


dataframerdd.show()

+---------+-----+
|       _1|   _2|
+---------+-----+
|   Brasil|10000|
|Argentina|20000|
|Australia|35000|
|   Italia|40000|
|    Egito|65000|
|   Mexico|80000|
+---------+-----+

In [50]:
# Criando o schema das colunas dos campos do DF
Colunas = ["Pais","Total_capital(Bilhoes)"]
dataframerdd2= rddpais.toDF(Colunas)
dataframerdd2.printSchema()
dataframerdd2.show(truncate=False)

root
 |-- Pais: string (nullable = true)
 |-- Total_capital(Bilhoes): long (nullable = true)

+---------+----------------------+
|Pais     |Total_capital(Bilhoes)|
+---------+----------------------+
|Brasil   |10000                 |
|Argentina|20000                 |
|Australia|35000                 |
|Italia   |40000                 |
|Egito    |65000                 |
|Mexico   |80000                 |
+---------+----------------------+

##Tratamento dos dados em DF

In [56]:
df = spark.read.option("header", "true").csv("food_coded.csv")

df.show(3)

+-----+------+---------+----------------+------------+--------------+------+--------------------+--------------------+---------------------------+----+----------------------------+-------+--------------------+------------------+-----+--------------------+--------------------+---------------------+----------+----------+-----------+--------+----------------+-----------------+--------------+-----------------+--------+--------------------+-----+---------+-----------+----------+---------------+--------------------+--------------------+----------------+------+-----------+------------+--------------+--------------+--------------------+----------------+-----------------+-----------------+-------------+------------+------------+------------+----------------------+----+------+---------+-----------------+---------------+-----------+-----------+--------+---------------+--------------------+
|  GPA|Gender|breakfast|calories_chicken|calories_day|calories_scone|coffee|        comfort_food|comfort_food_reasons|comfort_food_reasons_coded9|cook|comfort_food_reasons_coded11|cuisine|        diet_current|diet_current_coded|drink|      eating_changes|eating_changes_coded|eating_changes_coded1|eating_out|employment|ethnic_food|exercise|father_education|father_profession|   fav_cuisine|fav_cuisine_coded|fav_food|      food_childhood|fries|fruit_day|grade_level|greek_food|healthy_feeling|        healthy_meal|          ideal_diet|ideal_diet_coded|income|indian_food|italian_food|life_rewarding|marital_status| meals_dinner_friend|mother_education|mother_profession|nutritional_check|on_off_campus|parents_cook|pay_meal_out|persian_food|self_perception_weight|soup|sports|thai_food|tortilla_calories|turkey_calories|type_sports|veggies_day|vitamins|waffle_calories|              weight|
+-----+------+---------+----------------+------------+--------------+------+--------------------+--------------------+---------------------------+----+----------------------------+-------+--------------------+------------------+-----+--------------------+--------------------+---------------------+----------+----------+-----------+--------+----------------+-----------------+--------------+-----------------+--------+--------------------+-----+---------+-----------+----------+---------------+--------------------+--------------------+----------------+------+-----------+------------+--------------+--------------+--------------------+----------------+-----------------+-----------------+-------------+------------+------------+------------+----------------------+----+------+---------+-----------------+---------------+-----------+-----------+--------+---------------+--------------------+
|  2.4|     2|        1|             430|         nan|           315|     1|                none|we dont have comf...|                          9|   2|                           9|    nan|eat good and exer...|                 1|    1|         eat faster |                   1|                    1|         3|         3|          1|       1|               5|        profesor |Arabic cuisine|                3|       1|  rice  and chicken |    2|        5|          2|         5|              2|     looks not oily |      being healthy |               8|     5|          5|           5|             1|             1|rice, chicken,  soup|               1|       unemployed|                5|            1|           1|           2|           5|                     3|   1|     1|        1|             1165|            345| car racing|          5|       1|           1315|                 187|
|3.654|     1|        1|             610|           3|           420|     2|chocolate, chips,...|Stress, bored, anger|                          1|   3|                           1|      1|I eat about three...|                 2|    2|I eat out more th...|                   1|                    2|         2|         2|          4|       1|               2|   Self employed |       Italian|                1|       1|chicken and biscu...|    1|        4|          4|         4|              5|Grains, Veggies, ...|Try to eat 5-6 sm...|               3|     4|          4|           4|             1|             2|Pasta, steak, chi...|               4|        Nurse RN |                4|            1|           1|           4|           4|                     3|   1|     1|        2|              725|            690|Basketball |          4|       2|            900|                 155|
|  3.3|     1|        1|             720|           4|           420|     2|frozen yogurt, pi...|     stress, sadness|                          1|   1|                           1|      3|toast and fruit f...|                 3|    1|sometimes choosin...|                   1|                    3|         2|         3|          5|       2|               2|    owns business|       italian|                1|       3|mac and cheese, p...|    1|        5|          3|         5|              6|usually includes ...|i would say my id...|               6|     6|          5|           5|             7|             2|chicken and rice ...|               2|    owns business|                4|            2|           1|           3|           5|                     6|   1|     2|        5|             1165|            500|       none|          5|       1|            900|I'm not answering...|
+-----+------+---------+----------------+------------+--------------+------+--------------------+--------------------+---------------------------+----+----------------------------+-------+--------------------+------------------+-----+--------------------+--------------------+---------------------+----------+----------+-----------+--------+----------------+-----------------+--------------+-----------------+--------+--------------------+-----+---------+-----------+----------+---------------+--------------------+--------------------+----------------+------+-----------+------------+--------------+--------------+--------------------+----------------+-----------------+-----------------+-------------+------------+------------+------------+----------------------+----+------+---------+-----------------+---------------+-----------+-----------+--------+---------------+--------------------+
only showing top 3 rows

In [57]:
df.printSchema()

root
 |-- GPA: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- breakfast: string (nullable = true)
 |-- calories_chicken: string (nullable = true)
 |-- calories_day: string (nullable = true)
 |-- calories_scone: string (nullable = true)
 |-- coffee: string (nullable = true)
 |-- comfort_food: string (nullable = true)
 |-- comfort_food_reasons: string (nullable = true)
 |-- comfort_food_reasons_coded9: string (nullable = true)
 |-- cook: string (nullable = true)
 |-- comfort_food_reasons_coded11: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- diet_current: string (nullable = true)
 |-- diet_current_coded: string (nullable = true)
 |-- drink: string (nullable = true)
 |-- eating_changes: string (nullable = true)
 |-- eating_changes_coded: string (nullable = true)
 |-- eating_changes_coded1: string (nullable = true)
 |-- eating_out: string (nullable = true)
 |-- employment: string (nullable = true)
 |-- ethnic_food: string (nullable = true)
 |-- exercise: string (nullable = true)
 |-- father_education: string (nullable = true)
 |-- father_profession: string (nullable = true)
 |-- fav_cuisine: string (nullable = true)
 |-- fav_cuisine_coded: string (nullable = true)
 |-- fav_food: string (nullable = true)
 |-- food_childhood: string (nullable = true)
 |-- fries: string (nullable = true)
 |-- fruit_day: string (nullable = true)
 |-- grade_level: string (nullable = true)
 |-- greek_food: string (nullable = true)
 |-- healthy_feeling: string (nullable = true)
 |-- healthy_meal: string (nullable = true)
 |-- ideal_diet: string (nullable = true)
 |-- ideal_diet_coded: string (nullable = true)
 |-- income: string (nullable = true)
 |-- indian_food: string (nullable = true)
 |-- italian_food: string (nullable = true)
 |-- life_rewarding: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- meals_dinner_friend: string (nullable = true)
 |-- mother_education: string (nullable = true)
 |-- mother_profession: string (nullable = true)
 |-- nutritional_check: string (nullable = true)
 |-- on_off_campus: string (nullable = true)
 |-- parents_cook: string (nullable = true)
 |-- pay_meal_out: string (nullable = true)
 |-- persian_food: string (nullable = true)
 |-- self_perception_weight: string (nullable = true)
 |-- soup: string (nullable = true)
 |-- sports: string (nullable = true)
 |-- thai_food: string (nullable = true)
 |-- tortilla_calories: string (nullable = true)
 |-- turkey_calories: string (nullable = true)
 |-- type_sports: string (nullable = true)
 |-- veggies_day: string (nullable = true)
 |-- vitamins: string (nullable = true)
 |-- waffle_calories: string (nullable = true)
 |-- weight: string (nullable = true)

In [58]:
# Selecionando alguns campos
df.select('mother_profession','type_sports', 'Gender', 'weight','calories_day').show(30)

+--------------------+--------------------+------+--------------------+------------+
|   mother_profession|         type_sports|Gender|              weight|calories_day|
+--------------------+--------------------+------+--------------------+------------+
|          unemployed|          car racing|     2|                 187|         nan|
|           Nurse RN |         Basketball |     1|                 155|           3|
|       owns business|                none|     1|I'm not answering...|           4|
|                null|                null|     1|                null|           3|
|                null|                null|  null|                null|        null|
|                null|                null|     4|                null|           1|
|Substance Abuse C...|            Softball|     1|                 190|           2|
|        Hair Braider|               None.|     1|                 190|           3|
|          Journalist|              soccer|     2|                 180|           3|
|                cook|                none|     1|                 137|           3|
|Elementary School...|                none|     1|                 180|         nan|
|  Pharmaceutical rep|        field hockey|     1|                 125|           3|
|     Chidos Cleaners|              soccer|     1|                 116|           3|
|     Court Reporter |             Running|     1|                 110|           4|
|Child care provider |Soccer and basket...|     2|                 264|           3|
|      business owner|intramural volley...|     1|                 123|           3|
|      Charity worker|              Hockey|     2|                 185|           3|
|           Librarian|              Hockey|     2|                 180|         nan|
|              Police|                 nan|     1|                 145|           3|
|    stay at home mom|              hockey|     2|                 170|           3|
|    Daycare provider|            dancing |     1|                 135|           3|
|  physical therapist|          basketball|     2|                 165|           2|
|             Teacher|              Soccer|     2|                 175|           3|
|          House wife|              Tennis|     2|                 195|           3|
|       Underwiriter |   tennis soccer gym|     2|                 185|           3|
|         Beautician |     Gaelic Football|     2|                 185|           3|
|          Unemployed|                none|     1|                 105|           2|
|                null|                null|     1|                null|           3|
|                null|                null|     3|                null|           1|
|Doctors Billing A...|              Hockey|     2|                 160|           2|
+--------------------+--------------------+------+--------------------+------------+
only showing top 30 rows

In [67]:
# filtros no PySpark
from pyspark.sql.functions import *


# Filtrando os dados não nulos 
resultdf1 = df.filter(df.weight.isNotNull()).select('mother_profession','type_sports', 'Gender', 'weight','calories_day')

resultdf1.show()

+--------------------+--------------------+------+--------------------+------------+
|   mother_profession|         type_sports|Gender|              weight|calories_day|
+--------------------+--------------------+------+--------------------+------------+
|          unemployed|          car racing|     2|                 187|         nan|
|           Nurse RN |         Basketball |     1|                 155|           3|
|       owns business|                none|     1|I'm not answering...|           4|
|Substance Abuse C...|            Softball|     1|                 190|           2|
|        Hair Braider|               None.|     1|                 190|           3|
|          Journalist|              soccer|     2|                 180|           3|
|                cook|                none|     1|                 137|           3|
|Elementary School...|                none|     1|                 180|         nan|
|  Pharmaceutical rep|        field hockey|     1|                 125|           3|
|     Chidos Cleaners|              soccer|     1|                 116|           3|
|     Court Reporter |             Running|     1|                 110|           4|
|Child care provider |Soccer and basket...|     2|                 264|           3|
|      business owner|intramural volley...|     1|                 123|           3|
|      Charity worker|              Hockey|     2|                 185|           3|
|           Librarian|              Hockey|     2|                 180|         nan|
|              Police|                 nan|     1|                 145|           3|
|    stay at home mom|              hockey|     2|                 170|           3|
|    Daycare provider|            dancing |     1|                 135|           3|
|  physical therapist|          basketball|     2|                 165|           2|
|             Teacher|              Soccer|     2|                 175|           3|
+--------------------+--------------------+------+--------------------+------------+
only showing top 20 rows

In [73]:
#Selecionando apenas uma coluna
df.select('weight').show()

+--------------------+
|              weight|
+--------------------+
|                 187|
|                 155|
|I'm not answering...|
|                null|
|                null|
|                null|
|                 190|
|                 190|
|                 180|
|                 137|
|                 180|
|                 125|
|                 116|
|                 110|
|                 264|
|                 123|
|                 185|
|                 180|
|                 145|
|                 170|
+--------------------+
only showing top 20 rows

In [61]:
# Retirando por meio de REGEX todos os carcteres de weight

resultdf2 = resultdf1.filter(col("weight").rlike("^[0-9]*$"))
resultdf2.show()

+--------------------+--------------------+------+------+------------+
|   mother_profession|         type_sports|Gender|weight|calories_day|
+--------------------+--------------------+------+------+------------+
|          unemployed|          car racing|     2|   187|         nan|
|           Nurse RN |         Basketball |     1|   155|           3|
|Substance Abuse C...|            Softball|     1|   190|           2|
|        Hair Braider|               None.|     1|   190|           3|
|          Journalist|              soccer|     2|   180|           3|
|                cook|                none|     1|   137|           3|
|Elementary School...|                none|     1|   180|         nan|
|  Pharmaceutical rep|        field hockey|     1|   125|           3|
|     Chidos Cleaners|              soccer|     1|   116|           3|
|     Court Reporter |             Running|     1|   110|           4|
|Child care provider |Soccer and basket...|     2|   264|           3|
|      business owner|intramural volley...|     1|   123|           3|
|      Charity worker|              Hockey|     2|   185|           3|
|           Librarian|              Hockey|     2|   180|         nan|
|              Police|                 nan|     1|   145|           3|
|    stay at home mom|              hockey|     2|   170|           3|
|    Daycare provider|            dancing |     1|   135|           3|
|  physical therapist|          basketball|     2|   165|           2|
|             Teacher|              Soccer|     2|   175|           3|
|          House wife|              Tennis|     2|   195|           3|
+--------------------+--------------------+------+------+------------+
only showing top 20 rows

In [74]:
# GROUPBY
resultdf2.groupBy("Gender", "weight").count().orderBy("weight").show()

+------+------+-----+
|Gender|weight|count|
+------+------+-----+
|     1|     1|    1|
|     1|   100|    1|
|     1|   105|    1|
|     1|   110|    1|
|     1|   112|    1|
|     1|   113|    1|
|     1|   115|    1|
|     1|   116|    1|
|     1|   120|    3|
|     1|   123|    1|
|     1|   125|    4|
|     1|   127|    1|
|     1|   128|    2|
|     1|   129|    2|
|     1|   130|    3|
|     1|   135|    7|
|     2|   135|    1|
|     1|   137|    1|
|     2|   140|    2|
|     1|   140|    6|
+------+------+-----+
only showing top 20 rows

In [76]:
#Seleciona weight >= 150, indicando sobrepeso, separando por tipo de esporte

resultdf3 = resultdf2.select("type_sports", when(resultdf2.weight >= 150, "Sobrepeso"))

resultdf3.show()

+--------------------+--------------------------------------------+
|         type_sports|CASE WHEN (weight >= 150) THEN Sobrepeso END|
+--------------------+--------------------------------------------+
|          car racing|                                   Sobrepeso|
|         Basketball |                                   Sobrepeso|
|            Softball|                                   Sobrepeso|
|               None.|                                   Sobrepeso|
|              soccer|                                   Sobrepeso|
|                none|                                        null|
|                none|                                   Sobrepeso|
|        field hockey|                                        null|
|              soccer|                                        null|
|             Running|                                        null|
|Soccer and basket...|                                   Sobrepeso|
|intramural volley...|                                        null|
|              Hockey|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|                 nan|                                        null|
|              hockey|                                   Sobrepeso|
|            dancing |                                        null|
|          basketball|                                   Sobrepeso|
|              Soccer|                                   Sobrepeso|
|              Tennis|                                   Sobrepeso|
+--------------------+--------------------------------------------+
only showing top 20 rows

In [78]:
#Fill nulos

resultdf4 = resultdf3.filter(resultdf3[1].isNotNull())

resultdf4.show()

+--------------------+--------------------------------------------+
|         type_sports|CASE WHEN (weight >= 150) THEN Sobrepeso END|
+--------------------+--------------------------------------------+
|          car racing|                                   Sobrepeso|
|         Basketball |                                   Sobrepeso|
|            Softball|                                   Sobrepeso|
|               None.|                                   Sobrepeso|
|              soccer|                                   Sobrepeso|
|                none|                                   Sobrepeso|
|Soccer and basket...|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|              hockey|                                   Sobrepeso|
|          basketball|                                   Sobrepeso|
|              Soccer|                                   Sobrepeso|
|              Tennis|                                   Sobrepeso|
|   tennis soccer gym|                                   Sobrepeso|
|     Gaelic Football|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|           Lacrosse |                                   Sobrepeso|
|                 nan|                                   Sobrepeso|
|                 nan|                                   Sobrepeso|
|      none organized|                                   Sobrepeso|
+--------------------+--------------------------------------------+
only showing top 20 rows

In [79]:
# Filtra none, None., nan do primeiro campo ( type_sports)
resultdf4.filter((resultdf3[0] != 'none') & (resultdf3[0] != 'None.') & (resultdf3[0] != 'nan')).show()

+--------------------+--------------------------------------------+
|         type_sports|CASE WHEN (weight >= 150) THEN Sobrepeso END|
+--------------------+--------------------------------------------+
|          car racing|                                   Sobrepeso|
|         Basketball |                                   Sobrepeso|
|            Softball|                                   Sobrepeso|
|              soccer|                                   Sobrepeso|
|Soccer and basket...|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|              hockey|                                   Sobrepeso|
|          basketball|                                   Sobrepeso|
|              Soccer|                                   Sobrepeso|
|              Tennis|                                   Sobrepeso|
|   tennis soccer gym|                                   Sobrepeso|
|     Gaelic Football|                                   Sobrepeso|
|              Hockey|                                   Sobrepeso|
|           Lacrosse |                                   Sobrepeso|
|      none organized|                                   Sobrepeso|
|            softball|                                   Sobrepeso|
|            Lacrosse|                                   Sobrepeso|
|           Softball |                                   Sobrepeso|
|             Dancing|                                   Sobrepeso|
+--------------------+--------------------------------------------+
only showing top 20 rows